<script type="text/javascript">
  var BASE_URL = '{{ site.url }}';
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="{{ site.url }}/assets/js/scripts.min.js"></script>

{% if site.owner.google.analytics %}
<!-- Asynchronous Google Analytics snippet -->
<script>
  var _gaq = _gaq || [];
  var pluginUrl =
 'https://www.google-analytics.com/plugins/ga/inpage_linkid.js';
  _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
  _gaq.push(['_setAccount', '{{ site.owner.google.analytics }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = 'https://stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}
<script>
$(function() {
   var timeline_div = document.getElementById('timeline');
   var calc_timeline = function() {
     var left_margin = $('.entry-wrapper').first().css('margin-left');
     $('#timeline').css('margin-left', "-" + left_margin);
     $('#timeline').width($('body').outerWidth() - 40);
   };
   calc_timeline();


   var options = {
      script_path:                "",
      height:                     timeline_div.offsetHeight,
      width:                      timeline_div.offsetWidth,
      scale_factor:               0.8,              // How many screen widths wide should the timeline be
      layout:                     "landscape",    // portrait or landscape
      timenav_position:           "bottom",       // timeline on top or bottom
      optimal_tick_width:         100,            // optimal distance (in pixels) between ticks on axis
      base_class:                 "",
      timenav_height:             150,
      timenav_height_percentage:  25,             // Overrides timenav height as a percentage of the screen
      timenav_height_min:         150,            // Minimum timenav height
      marker_height_min:          30,             // Minimum Marker Height
      marker_width_min:           200,            // Minimum Marker Width
      marker_padding:             5,              // Top Bottom Marker Padding
      start_at_slide:             0,
      menubar_height:             0,
      skinny_size:                650,
      relative_date:              false,          // Use momentjs to show a relative date from the slide.text.date.created_time field
      use_bc:                     false,          // Use declared suffix on dates earlier than 0
      // animation
      duration:                   1000,
      ease:                       TL.Ease.easeInOutQuint,
      // interaction
      dragging:                   true,
      trackResize:                true,
      map_type:                   "stamen:toner-lite",
      slide_padding_lr:           100,            // padding on slide of slide
      slide_default_fade:         "0%",           // landscape fade
      api_key_flickr:             "",             // Flickr API Key
      language:                   "en"
  };
  var timeline = new TL.Timeline('timeline', 'cv.json', options);

  window.onresize = function(event) {
    calc_timeline();
    timeline.updateDisplay();
  }
});
</script>
